.layoutWrapper {
	width: 100%;
	height: auto;
	min-height: 100vh;

	background-color: #f0f0f0;
}

.header {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;

	width: 100vw;
	height: 66px;
	max-width: 1080px;
	margin: 0 auto;
}

.header button {
	margin: 0;
}

.accountMenu {
	position: relative;
	justify-self: right;

	width: 32px;
	height: 32px;
}

.accountMenu > button {
	width: 100%;
	height: 100%;
	padding: 0;
}

.accountNavigationMenu {
	position: absolute;
	top: 40px;
	right: 0;
	overflow: hidden;

	width: 160px;
	height: 0px;
	border-radius: 4px;

	box-shadow: #0000000a 0px 0px 8px;

	transition: height 150ms ease;
}

.accountNavigationMenu ul {
	padding: 0;

	list-style: none;
}

.accountNavigationMenu li {
	width: 100%;
	height: 40px;
	line-height: 40px;

	font-size: 0.8rem;
	white-space: none;
}

.accountNavigationMenu button {
	justify-content: right;

	width: 100%;
	height: 100%;
	padding: 0 8px;
	border-radius: 0;

	color: var(--text-color);
	background-color: white;
	font-weight: normal;
}

.accountNavigationMenu button:hover:not(:disabled) {
	background-color: #cccccc;
}

.main {
	width: 1080px;
	margin: 4rem auto 0 auto;
}

.footer {
	display: flex;
	justify-content: center;
}

@keyframes hideLoadingOverlay {
	50% {
		transform: translateY(128px);
	}

	60% {
		color: transparent;
	}

	to {
		transform: translateY(-8000px);
		display: none;
	}
}

.loadingOverlay {
	position: fixed;
	top: -128px;
	left: 0;
	z-index: 1000;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	padding-top: 128px;

	width: 100vw;
	height: calc(100vh + 128px);
	background-color: white;
}

.loadingOverlay[data-ready] {
	animation: hideLoadingOverlay 1s cubic-bezier(0.8, 0.04, 0.38, 0.81) forwards;
}
