.header {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;

	width: 100vw;
	height: 66px;
	max-width: 1080px;
	margin: 0 auto;
}

.accountMenu {
	justify-self: right;

	width: 32px;
	height: 32px;
	padding: 0;
}

.main {
	width: 1080px;
	margin: 4rem auto 0 auto;
}

.footer {
	display: flex;
	justify-content: center;
}
