.carousel {
	position: relative;
	overflow: hidden;

	width: var(--root-content-width);
	height: 512px;
	margin: 0 auto;

	background-color: #f0f0f0;
}

.carouselImages {
	position: absolute;

	width: 100%;
	height: 100%;

	transition: transform 600ms ease;
}

.carouselOverlays {
	position: absolute;

	width: 100%;
	height: 100%;

	transition: transform 600ms ease;
}

.carouselOverlays > * {
	position: absolute;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height: 100%;
	padding-left: 6rem;

	color: white;
}

.carouselOverlays h2 {
	width: fit-content;

	font-size: 4rem;
	font-weight: 900;
	line-height: 6rem;
	filter: drop-shadow(0 0 24px #000000);
}

.carouselOverlays p {
	width: 512px;
	margin-bottom: 0.5rem;

	font-size: 20px;
	font-weight: bold;
	filter: drop-shadow(0 0 8px #000000);
}

.carouselOverlays button {
	margin-top: 12px;

	opacity: 0;

	transition: opacity 150ms linear;
	transition-delay: 600ms;
	filter: drop-shadow(0 0 48px #000000);
}

.carouselOverlays > *[data-active] > button {
	opacity: 1;
}

.carouselIndexIndicator {
	position: absolute;
	bottom: 1rem;
	z-index: 2;
	display: flex;
	justify-content: center;
	gap: 8px;

	width: 100%;
	height: 12px;
}

.carouselIndexIndicator > button {
	width: 32px;
	height: 8px;
	padding: 0;
	border: none;
	border-radius: 8px;

	background-color: white;

	transition: width 300ms linear, height 300ms linear, transform 300ms linear;
}

.carouselIndexIndicator > button:not([data-selected]):hover {
	background-color: var(--primary-color-ultra-light);
}

.carouselIndexIndicator > button[data-selected] {
	height: 12px;
	width: 48px;
	transform: translateY(-2px);

	cursor: unset;
	background-color: var(--primary-color);
}

.actionContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 64px 0 128px 0;
}

.actionHeader {
	margin-bottom: 1rem;
}

.cards {
	display: flex;
	flex-direction: column;
	gap: 128px;

	margin-top: 4rem;
}

.cards > :nth-child(even) > :nth-child(1) {
	grid-column-start: 2;
	grid-row-start: 1;
}

.card {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	align-items: center;

	width: 100%;
	height: 300px;
}

.card:nth-child(odd):after {
	content: "";

	position: absolute;
	z-index: -1;
	left: 0;

	width: 100%;
	height: calc(300px + 128px);

	background-color: #fbfbfb;
}

.card > div:first-child {
	padding: 0 4rem;
}

.card > div:first-child > *:nth-child(2) {
	margin-bottom: 1rem;
}

.cardImage > img {
	max-height: 300px;
	margin: 0 auto;
}
