.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselDisplay {
    position: relative;
    overflow: hidden;

    width: var(--main-content-width);
    height: 512px;

    background-color: lightgray;
}

.carouselDisplay img {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;

    transition: left 300ms ease;
}

.carouselOverlay {
    position: absolute;
    /* top: 4rem; */
    left: 6rem;

    color: white;
    text-shadow: 0 0 40px #000000, 0 0 40px #00000080;
}

.carouselButton {
    position: absolute;

    aspect-ratio: 1;
    padding: 0;
}

.carouselButton > svg {
    fill: none;
    stroke: black;

    transition: all 150ms linear;
}

.carouselButton:hover > svg {
    fill: black;
    stroke: white;
}

.carouselButtonLeft {
    composes: carouselButton;

    left: -64px;
}

.carouselButtonRight {
    composes: carouselButton;

    right: -64px;
}

.carouselIndexIndicator {
    position: absolute;
    z-index: 3;
    height: 16px;
    display: flex;
    gap: 8px;

    bottom: 1rem;
}

.carouselIndexIndicator > button {
    width: 10px;
    height: 10px;
    padding: 0;
    border: 1px solid white;

    background-color: white;

    transition: all 300ms linear;
}

.carouselIndexIndicator > button:hover {
    /* border-color: black; */
    background-color: black;
}

.actionContainer {
    text-align: center;
    margin-top: 4rem;
}

.actionHeader {
    margin-bottom: 1rem;
}

.cards {
    display: flex;
    flex-direction: column;

    margin-top: 4rem;
}

.cards > :nth-child(even) > :nth-child(1) {
    grid-column-start: 2;
    grid-row-start: 1;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;

    width: 100%;
    height: 360px;
}

.card > div:first-child {
    padding: 0 4rem;
}

.card > div:first-child > *:nth-child(2) {
    margin-bottom: 1rem;
}

.cardImage {
    position: relative;

    width: 100%;
    height: 100%;
}

.cardImage img {
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 1000000px;
}

.cardImage img:nth-child(1) {
    z-index: 2;
}

.cardImage img:nth-child(2) {
    z-index: 1;

    scale: 105%;
    filter: blur(8px);
}
