.carousel {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.carouselDisplay {
	position: relative;
	overflow: hidden;

	width: var(--root-content-width);
	height: 512px;

	background-color: lightgray;
}

.carouselDisplay > img {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;

	width: 100%;

	transition: transform 600ms ease;
}

.carouselDisplay > div {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height: 100%;
	padding-left: 6rem;

	color: white;
	text-shadow: 0 0 40px #000000, 0 0 40px #00000080;

	transition: transform 600ms ease;
}

.carouselDisplay > div > button {
	margin-top: 1rem;

	opacity: 0;
	transition: opacity 150ms linear;
	transition-delay: 600ms;
}

.carouselDisplay > div[data-active] > button {
	margin-top: 1rem;

	opacity: 1;
}

.carouselButton {
	position: absolute;

	aspect-ratio: 1;
	padding: 0;
}

.carouselButton > svg {
	fill: none;
	stroke: black;

	transition: all 150ms linear;
}

.carouselButton:hover > svg {
	fill: black;
	stroke: white;
}

.carouselButtonLeft {
	composes: carouselButton;

	left: -64px;
}

.carouselButtonRight {
	composes: carouselButton;

	right: -64px;
}

.carouselIndexIndicator {
	position: absolute;
	bottom: 1rem;
	z-index: 3;
	display: flex;
	gap: 8px;

	height: 12px;
}

.carouselIndexIndicator > button {
	width: 32px;
	height: 8px;
	padding: 0;

	background-color: white;

	transition: width 300ms linear, height 300ms linear, transform 300ms linear;
}

.carouselIndexIndicator > button:not([data-selected]):hover {
	background-color: var(--primary-color-ultra-light);
}

.carouselIndexIndicator > [data-selected] {
	height: 12px;
	width: 48px;
	transform: translateY(-2px);

	cursor: unset;
	background-color: var(--primary-color-light);
}

.actionContainer {
	text-align: center;
	margin-top: 4rem;
}

.actionHeader {
	margin-bottom: 1rem;
}

.cards {
	display: flex;
	flex-direction: column;

	margin-top: 4rem;
}

.cards > :nth-child(even) > :nth-child(1) {
	grid-column-start: 2;
	grid-row-start: 1;
}

.card {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	align-items: center;

	width: 100%;
	height: 360px;
}

.card > div:first-child {
	padding: 0 4rem;
}

.card > div:first-child > *:nth-child(2) {
	margin-bottom: 1rem;
}

.cardImage {
	position: relative;

	width: 100%;
	height: 100%;
}

.cardImage img {
	position: absolute;
	top: 0;
	left: 0;

	border-radius: 1000000px;
}

.cardImage img:nth-child(1) {
	z-index: 2;
}

.cardImage img:nth-child(2) {
	z-index: 1;

	scale: 105%;
	filter: blur(8px);
}
