.accountOptions {
	display: flex;
	justify-content: center;
	gap: 32px;

	margin: 1rem 0;
}

.accountOptions > button {
	width: 128px;
	height: 64px;
	border: none;
	outline: none;

	box-sizing: content-box;

	background-color: transparent;
	font-size: 1.4rem;
	line-height: 1.6rem;
}

.accountOptions > button:hover {
	border-bottom: #00000028 2px solid;
}

.accountOptions > button[data-selected] {
	border-bottom: var(--primary-color) 2px solid;
}
